<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>
    UCS Satellite Data
  </title>
  <style>
  h1 {
    padding: 20px;
    color: #00C2CC;
    background-color: #0A00CC;
    box-shadow: 10px 10px 10px #888888;
  }
  #grid {
    display: grid;
    grid-template-columns: 160px 600px;
  }
  .darkorange {
    color: #CC7000;
  }
  #strongcyan {
    color: #00C2CC;
  }
  .strongblue {
    color: #0A00CC;
  }
  </style>
</head>
<body>
  <header>
    <h1>UCS Satellite Data</h1>
  </header>
  <section>
    <!-- iterate through satellite data -->
    {% for record in sat_data %}
    <div id="grid">
      <div class="darkorange">Name: </div><div class="strongblue">{{ record[0] }}</div>
      <div class="darkorange">Launch date: </div><div class="strongblue">{{ record[19] }}</div>
      <div class="darkorange">Operator/owner: </div><div class="strongblue">{{ record[4] }}</div>
      <div class="darkorange">Country: </div><div class="strongblue">{{ record[3] }}</div>
      <div class="darkorange">Detailed purpose: </div><div class="strongblue">{{ 'N/A' if record[7] == '' else record[7] }}</div>
      <div class="darkorange">Launch date: </div><div class="strongblue">{{ record[19] }}</div>
      <div class="darkorange">Lifetime: </div><div class="strongblue">{{ 'N/A' if record[20] == '' else record[20] }} yrs.</div>
      <div class="darkorange">COSPAR number: </div><div class="strongblue">{{ record[24] }}</div>
      <div class="darkorange">NORAD number: </div><div class="strongblue">{{ record[25] }}</div>
      <div id="strongcyan">&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;</div>
    </div>
    {% endfor %}
  </section>
</body>
</html>
